#content {
  display: flex;
  padding: 10vh 5vw;
  gap: 2vw;
}
#content .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.left .heading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.left form {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.left form > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3vh;
}
.left form > div:nth-child(1) {
  flex-direction: row;
}
.left form > div:nth-last-child(5) {
  flex-direction: row;
}
.left form > div > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2vh;
}
.left form input {
  height: 3rem;
  background: white;
  outline: none;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  padding-left: 1.5vw;
}
.left form > div:nth-last-child(4) {
  flex-direction: row;
  gap: 1vw;
  cursor: pointer;
}
.left form > div:nth-last-child(4) > input {
  height: auto;
}
.left form > p {
  font-size: 14px;
}

#content .right {
  width: 30%;
  background: #f3f2ee;
  padding: 5vh 2vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  height: max-content;
}
 section .right > div {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.right > div:nth-child(1) h1 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.right .heading {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.right .product {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}
.right .product > div:nth-child(1) {
  display: flex;
  gap: 0.5vw;
}
.right div:nth-last-child(2) > div {
  display: flex;
  justify-content: space-between;
}

.right > div:last-child {
  border: none;
}
.right button {
  cursor: pointer;
  height: 3rem;
  text-transform: uppercase;
  font-size: 18px;
  background: black;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  letter-spacing: 1px;
}
